$sp-1: 4px !default;
$sp-2: 8px !default;
$sp-4: 24px !default;
$gutter-spacing-sm: 16px !default;
$border-radius: 4px !default;
$border: 1px solid !default;
$border-color: #e0e0e0 !default;
$content-width: 1000px !default;
$white: #ffffff !default;
$grey-dk-000: #2e2e2e !default;
$blue-000: #007bff !default;
$purple-000: #6f42c1 !default;
$green-000: #28a745 !default;

